<!-- <div class="">Add Course</div> -->
<!-- <div class="h1"><h1>ADD COURSES</h1></div> -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Dashboard</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/61.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Total Courses - {{ totalCourses }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/img31.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Students - {{ totalStudents }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Notes - {{ totalNotes }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/121.png" alt="Card image cap">
                <div class="card-body">
                    <h3>QuestionPapers - {{ totalQuestionPapers }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/11.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>LabFiles - {{ totalLabFiles }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/quizicon2.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Quizzes - {{ totalQuizes }}</h3>
                </div>
            </div>
        </div>
    </div>

</div>
