<!-- <div class="">Add Course</div> -->
<!-- <div class="h1"><h1>ADD COURSES</h1></div> -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">Add Courses</h1>
      </div>
    </div>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/img/6.jpg" alt="Card image
    cap">
  <div class="card-body">
    <form [formGroup]="courseForm">
      <div class="form-group">
        <label for="exampleFormControlInput1">Course name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1"
          formControlName="name">
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Number of Semester</label>
        <input type="number" class="form-control" id="exampleFormControlInput1"
          formControlName="totalSemesters">
      </div><br>
      <button type="submit" class="btn btn-primary"
        [disabled]="courseForm.invalid" (click)="submit()">Submit</button>
    </form>
  </div>
</div>
