
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">Register For More</h1>
      </div>
    </div>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/img/6.jpg" alt="Card image
    cap">
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1"
          formControlName="name">
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput2">Roll Number</label>
        <input type="text" class="form-control" id="exampleFormControlInput2"
          formControlName="rollNo">
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput3">Contact</label>
        <input type="number" class="form-control" id="exampleFormControlInput3"
          formControlName="contact">
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput4">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput4"
          formControlName="email">
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput5">Password</label>
        <input type="password" class="form-control"
          id="exampleFormControlInput5" formControlName="password">
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput6">Course</label>
        <select class="form-control" id="exampleFormControlInput6" formControlName = "courseId" (change) = "getBranch($event)">
        <option value="">Choose Course</option>
        <option *ngFor = "let i of course" [value]="i?._id">{{ i?.name }}</option>
        </select>
      </div><br>
      <div class="form-group" *ngIf="branch.length>0">
        <label for="exampleFormControlInput7">Branch</label>
        <select class="form-control" id="exampleFormControlInput7" formControlName = "branchId">
        <option value="">Choose Branch</option>
        <option *ngFor = "let i of branch" [value]="i?._id">{{ i?.name }}</option>
        </select>
      </div><br>
      <button type="submit" class="btn btn-primary"
        [disabled]="registerForm.invalid">Submit</button>
    </form>
  </div>
</div>
